body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 2em; /*** 32px ***/
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  font-size: 1em; /*** 16px ***/
  line-height: normal;
}

li {
  float: right;
  padding: 30px;
  font-size: 1em; /*** 16px ***/
  line height: normal;
}

article {
  padding-top: 100px;
  font-size: .5em; /*** 8px ***/
}

.container {
  margin: 0 auto;
  width: 50%;
}
